# Compiled source 
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.swp

# Packages #
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
*.log
*.tfstate
*.backup

etc/credentials.yaml
etc/customized.yaml

#virtualenv
*_env/*
set_proxy.sh
unset_proxy.sh
deploy.sh


